.box{

    background-image: linear-gradient(to right, skyblue , yellow);
    color: white;
    width: 100%;
    height: 170px;
  
  }

.textEnd, h2, p{
    text-align: center;
    color: black
  
}
.addAction{
    text-align: center;
    margin-top: 10;
}

.toDoButton {
    display: inline-block;
    padding: 5px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 30px;
    box-shadow: 0 9px #999;
}
.toDoButton:hover {background-color: #3e8e41}

.toDoButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  
}

input[type=text] {
    width: 500px;
    height: 50px;
    transition: width 0.4s ease-in-out;
    border-radius: 10px;
    margin-right: 20px;
    
  }
  
input[type=text]:focus {
    border: 3px solid #555;
}

