.list{

    max-height: 600px;
    overflow-y: auto;
    
 } 

ul{
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

li{
    display: flex;
    justify-content: space-between;
    background:lightslategray;
    font-size: 25px;
    font-weight: 600;
    color: black;
    padding: 15px 15px 15px 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.line-through{
    text-decoration: line-through;
    color: green;
}

.red{
    color: red;
}

.blue{
    color: dodgerblue
}

.green{
    color: yellowgreen;
}